# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

In [3]:
numberFLoat = 2.3
print(numberFLoat)
print(numberFLoat)

2.3
2.3

#### Performing Calculations on ints and floats

##### Addition

In [10]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

# result += 2
print(result + 2)

7.4
9.4

##### Subtraction

In [12]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff - 1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [14]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [17]:
result_div = num2/num1
print(result_div)

result_div /=3
print(result_div)

2.7
0.9

##### Floor Division

In [19]:
result_floor = num2 // num1
print(result_floor)
#rounded down

result_floor //=2
print(result_floor)

2.0
1.0

##### Modulo

In [22]:
result_mod = num2 % num1
print(result_mod)

result_mod %= 2
print(result_mod)

result_mod2 = 10 % 3
print(result_mod2)

#tells us the remainder 
#helps with odd and even numbers

1.4000000000000004
1.4000000000000004
1

##### Exponential

In [24]:
square = 5 ** 2
print(square)

square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [29]:
name1 = "Joel"
name2 = 'Joel'
name = "Brandon"
print(name)
print(name1)

Brandon
Joel

##### print() <br>
<p>Don't forget about end=' '</p>

In [31]:
print("This is my first name:", name)
print("Full Name:", name, end=" Apol")

This is my first name: Brandon
Full Name: Brandon Apol

##### String Concatenation

In [33]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

full_name += " JR"
print(full_name)

John Smith
John Smith JR

##### Type Conversion

In [36]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
32


##### input()

In [41]:
# name = input("what is your name?")
# print("Nice to meet you, "+ name)

age = int(input("what is your age?: "))
add_age = age + 5
print(add_age)

what is your age?: 30
35

##### format()

In [46]:
age = input("What is your age? ")

result_string = "You are {} {} and you are getting wiser!".format(age, name)

print(result_string)
result_again = f"{age} is a great time in life!!!"
print(result_again)

What is your age? 12
You are 12 Pankaj and you are getting wiser!
12 is a great time in life!!!

##### Old Way (python 2)

In [47]:
result_string2 = "you are %s and you look great for your age!" %age
print(result_string2)

you are 12 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [50]:
name = input("What is your name? ")
color = input("What color is your car? ")
year = input("What year is your car? ")
make = input("What is the make and model of your car? ")

statement = f"{name}, you have a {color} {year} {make}."
print(statement)

What is your name? Pankaj
What color is your car? Green
What year is your car? 2023
What is the make and model of your car? Jeep Grand Cherokee
Pankaj, you have a Green 2023 Jeep Grand Cherokee.

### If Statements

In [68]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 10
num2 = 11
num3 = 0


# if num1 == num2:
#     print("this is equal")
# else:
#     print("That thing was not true")
    
    
if num2 > num1 or num3 > 0: 
    print("num2 is greater")
elif num1 > num2:
    print("num1 is greater")
else:
    print("equal values")

num2 is greater

##### 'is' keyword

In [69]:
#the "is" keyhword is for checking for the same object, but not the same value

num3 = 55

if num3 is 55:
    print("this is the exact number/ object")

this is the exact number/ object

<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/p3/f7w3298j6qq1ryxth3j6_5340000gn/T/ipykernel_6415/2738752115.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [71]:
#check if a charatcter is in a string

char_name = "frodo baggins"

if "Frodo" in char_name:
    print("The ring bearer")

##### 'not in' keyword'

In [72]:
sega_car = "Sonic"

if "a" not in sega_car:
    print("a is not here...")

a is not here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [75]:
city = input("what is your favorite food? ")
if "p" in city:
    print("Your favorite food is probably pizza, if I guessed wrong whoops")

what is your favorite food? pizza
Your favorite food is probably pizza, if I guessed wrong whoops

## Using 'and'/'or' with If Statements

In [80]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

#if with 'and' statement
if num_11 /5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
# if with 'or' statemet
if num_11 > num_12 or num_12 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [84]:
first_name = input("what is your name? ")
if first_name == 'Smith':
    print("the name is Smith.")
elif first_name == 'Brandon':
    print("THe name is Brandon")
elif first_name != 'Max':
    print("The name is NOT max")
else:
    print("the name is MAX")

what is your name? Max
the name is MAX

### Else Statements

In [ ]:
# see above

### For Loops

In [85]:
#Syntax
#for counter in condition

name = "Brandon Apol"

for letter in name:
    print(letter)

B
r
a
n
d
o
n

A
p
o
l

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [87]:
for i in range(20):
    if i == 5: 
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [88]:
for i in range(20):
    if i == 5: 
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [91]:
for i in name: 
    pass

##### Double For Loops

In [93]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [94]:
# Syntax: 
# while keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [103]:
game_over = True #this is our flag

# while True:
#     print('Infinite Loop')
#     if game_over == False:
#         break

# better way

while game_over: 
    print("infinite loop")
    user_input = input("Would you like to stop? ")
    if user_input == 'yes':
        game_over = False

infinite loop
Would you like to stop? NO
infinite loop
Would you like to stop? NO
infinite loop
Would you like to stop? NO
infinite loop
Would you like to stop? yes

##### While & For Loops Used Together

In [104]:
num = 0

while num < 5: 
    print("\n While loop iterations: " + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i))
        
    num +=1

 While loop iterations: 0
For loop iteration:  0
For loop iteration:  1

 While loop iterations: 1
For loop iteration:  0
For loop iteration:  1

 While loop iterations: 2
For loop iteration:  0
For loop iteration:  1

 While loop iterations: 3
For loop iteration:  0
For loop iteration:  1

 While loop iterations: 4
For loop iteration:  0
For loop iteration:  1

### Built-In Functions

##### range()

In [111]:
#range(start,stop, step)

for i in range(1,20,3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [113]:
name = input("give me the name of your favorite book? ")

length = len(name)
print(length)

give me the name of your favorite book? Harry potter
12

##### help()

In [114]:
# use this function to view more info about python functions
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [118]:
# check a variable to find out what object family or data type it belongs to 
#isistance(var,type)

num = input("number? ")
print(isinstance(4.5,int))

if isinstance(num,int):
    print(f"{num} is an int")
else: 
    print(f"{num} is a float")

number? 12
False
12 is a float

##### abs()

In [119]:
# |-5| = 5

print(abs(-5))

5

### Try and Except

In [121]:
# use this to log out graceful and useful error messages
#does not stop program!

try:
    number_test = 0
    input_num = int(input("guess a number "))
    if input_num != input_num + number_test:
        input_num = input_num + number_test
        print("your number is: " + str(input_num))
except:
    print("that didn't work, change input to number")

guess a number 5

### Lists

##### Declaring Lists

In [123]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', "bob", 'Nate']
print(names)
print(isinstance(names,list))

['Max', 'Cindy', 'Kathy', 'bob', 'Nate']
True

##### Indexing a List

In [134]:
# list_name[start: stop: step]
#single index

print(names[0])


#print starting at index 1 going to the end
print(names[1:])

#print starting at the beginning of a list up until a number
print(names[:2])

#print starting at index 1 and going by 2 in each iteration
print(names[1::2])

#print starting at the back and display in reverse order
print(names[::-1])

Max
['Cindy', 'Kathy', 'bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'bob']
['Nate', 'bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [135]:
names.append('Brandon')
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate', 'Brandon']

##### .insert()

In [137]:
names.insert(3,'Devon')
print(names)

['Max', 'Cindy', 'Kathy', 'Devon', 'Devon', 'bob', 'Nate', 'Brandon']

##### .pop()

In [138]:
# Defaults to the last value if no parameter is given
#pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

Kathy
['Max', 'Cindy', 'Devon', 'Devon', 'bob', 'Nate', 'Brandon']


##### .remove()

In [141]:
#value to be remvoed rather than index

# names.remove('bob')
# print(names)

#remove multiple brandons from list 

while 'Brandon' in names:
    names.remove('Brandon')
print(names)

['Max', 'Cindy', 'Devon', 'Devon', 'Nate']

##### del()

In [142]:
#goes by index, rather than value
#be carefule with del, it can cause indexing errors if not used carefully

del(names[1])
print(names)

['Max', 'Devon', 'Devon', 'Nate']

##### Concatenating Two Lists

In [146]:
# will append two lists together, it will not add the values
list_2 = [0,1,2]
list_3 = [3,4,5]

large_lists = list_2 + list_3

print(large_lists)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
# lists can hold any type of other element, including other lists
# they can go as deep as wyou want; this is called nested lists

names = ["Max", "sam", "Josh", ["Sally", "Sue", "Tameka"]]
print(names)
print(names[3][1])

##### Looping Through Lists

In [148]:
#two ways to loop through a list, one is by index, the other is by using the 'in' keyword

#by index

for i in range(len(names)):
    print(names[i])
    
# loop with 'in'
for i in names:
    print(i)

Max
sam
Josh
['Sally', 'Sue', 'Tameka']
Max
sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [150]:
#Printing out all cubed bumbers up to 1000
#if number is over 1000 break


#loop through a set of numbers and cube each number
for i in range(0,20):
    num_cubed = i ** 3

    #check to see if that number is greater than 1000
    if num_cubed > 1000:
        #if it is greater than break the loop
        break
        
        # if its not, then print the cubed number 
    else:
        print(num_cubed)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [154]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
#how to tell if a number is prime

# A prime number is a number that is greater than 1, and can only be divied by itself 

#get a set of numbers up to 100
#loop through the numbers
#if the number is 0 pass
#if the number is 1 pass
#if the number can be divide by itself and have a remainder of 0 AND if the number can be i
for i in range(0,100):
    if i <= 1:
        pass
    else: 
        prime_num = i /i

2
3
4

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [167]:
# if, elif, else

user_age = int(input("What is your age? "))
if user_age <18:
    print("Kids")
elif user_age >= 18 and user_age <= 65:
    print("Adults")
else:
    print("Seniors")

What is your age? 80
Seniors